<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon shortcut" type="image/ico" href="{{site.baseurl}}/assets/icons/whoami.png" />
  <title>{{site.title}} | {{page.title}}</title>
  {% if page.layout == "post" %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css" />
  {% else %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/blog.css" />
  {%endif%}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/common.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme-toggle.css" />
  <script src="{{site.baseurl}}/assets/js/categories.js"></script>
  {% if page.layout == "post" %}
  <script defer src="{{site.baseurl}}/assets/js/lbox.js"></script>
  {% endif %}
  <script defer src="{{site.baseurl}}/assets/js/theme-toggle.js"></script>
  <script src="https://utteranc.es/client.js" repo="logeast/logeast.github.io" issue-term="url" theme="github-light"
    crossorigin="anonymous" async>
    </script>
  </script>
</head>