:root {
  --gray-1: #fff;
  --gray-2: #fafafa;
  --gray-3: #f5f5f5;
  --gray-4: #f0f0f0;
  --gray-5: #d9d9d9;
  --gray-8: #595959;
  --gray-9: #434343;
  --gray-10: #262626;
  --gray-11: #1f1f1f;
  --gray-12: #141414;
  --gray-13: #000;
  --white-1: #eeeeee;
  --white-2: #a9abb3;
  --red-2: #ffccc7;
  --red-9: #820014;
  --volcano-2: #ffd8bf;
  --volcano-9: #871400;
  --orange-2: #ffe7ba;
  --orange-9: #873800;
  --gold-2: #fff1b8;
  --gold-9: #874d00;
  --yellow-2: #ffffb8;
  --yellow-9: #876800;
  --lime-2: #f4ffb8;
  --lime-9: #3f6600;
  --green-2: #d9f7be;
  --green-9: #135200;
  --cyan-2: #b5f5ec;
  --cyan-9: #00474f;
  --blue-2: #cfe5ff;
  --blue-6: #296bef;
  --blue-9: #021f7d;
  --geekblue-2: #d6e4ff;
  --geekblue-9: #061178;
  --purple-2: #efdbff;
  --purple-9: #22075e;
  --magenta-2: #ffd6e7;
  --magenta-9: #780650;

  --bg-color: var(--gray-2);
  --bg-color-2: var(--gray-4);
  --border-color: var(--gray-5);
  --color: var(--gray-10);
  --cursor-default: url("../cursor-default.png"), default;
  --cursor-pointer: url("../cursor-pointer.png"), pointer;
}
html[data-theme="dark"] {
  --bg-color: var(--gray-12);
  --bg-color-2: var(--gray-10);
  --border-color: var(--gray-9);
  --color: var(--gray-2);
}
html[data-theme="dark"] #social-wrapper {
  filter: invert();
}

/* reset styles */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,800;1,100;1,300;1,400;1,800&display=swap");

* {
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
* img {
  max-width: 100%;
}
html,
body {
  font-family: "JetBrains Mono", monospace;
  line-height: 2rem;
  background-color: var(--bg-color);
  color: var(--color);
  cursor: var(--cursor-default);
}
a {
  color: var(--blue-6);
}
a.link-text {
  color: var(--color);
}
header {
  padding: 2rem 0;
}
main {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.5rem;
}

/* atomic css */
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1rem {
  gap: 1rem;
}

#category-modal-bg {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
  visibility: hidden;
}
#category-modal {
  position: fixed;
  inset: 0;
  z-index: 100;
  max-width: 850px;
  max-height: 60vh;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  background: var(--bg-color);
  display: none;
  visibility: hidden;
  line-height: 140%;
}
#category-modal-content {
  display: relative;
  max-height: calc(100% - 5rem);
  overflow: auto;
}
#category-modal-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  padding: 1rem;
}
#category-modal-bg.open,
#category-modal.open {
  display: block;
  visibility: visible;
}
.modal-article,
.modal-article-date {
  display: block;
}
.modal-article {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}
.modal-article-date {
  font-size: 0.8rem;
}
.modal-article:hover {
  background: var(--bg-color-2);
}

hr {
  border-top: 2px dashed var(--border-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-bottom: 1.75rem;
}

.rotate:hover {
  transform: rotate(666turn);
  transition-delay: 1s;
  transition-property: all;
  transition-duration: 59s;
  transition-timing-function: cubic-bezier(0.34, 0, 0.84, 1);
}

/* categories style */
.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
.categories .category {
  margin: 0 0.5rem 0 0;
  display: block;
  border-radius: 4px;
  font-size: 0.7rem;
  padding: 0 0.4rem;
  line-height: 1.3rem;
  cursor: var(--cursor-pointer);
  font-weight: 600;
  background-color: var(--geekblue-2);
  color: var(--geekblue-9);
}

.category.Thinking {
  background-color: var(--red-2);
  color: var(--red-9);
}
.category.Computer {
  background-color: var(--volcano-2);
  color: var(--volcano-9);
}
.category.Reading {
  background-color: var(--orange-2);
  color: var(--orange-9);
}
.category.Book {
  background-color: var(--gold-2);
  color: var(--gold-9);
}
.category.Project {
  background-color: var(--yellow-2);
  color: var(--yellow-9);
}
.category.Vitamin {
  background-color: var(--green-2);
  color: var(--green-9);
}
.category.Weekly {
  background-color: var(--blue-2);
  color: var(--blue-9);
}

@media screen and (min-width: 550px) {
  header {
    position: sticky;
    top: 0;
    background: var(--bg-color);
    z-index: 10;
  }
}

/* comment */
.utterances {
  max-width: initial;
}
